In [ ]:
#steps taken to create dashboard:
#step 1: import libraries and packages
#step 2: clean data in the following steps:
    #observe
    #create variable for the clean data and rename columns
    #check datatype
    #check for missing missing values
    #specificy which columns/rows to be replaced (if required)
    #remove any wanted columns/rows

In [17]:
import pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp
import plotly.express as px
import plotly.io as pio
#import requests
#import statistics

from matplotlib import pyplot as plt

In [18]:
chevron_statements = pandas.read_csv('Chevron-Financial-Statements-.csv')
exxon_statements = pandas.read_csv('Exxon_Financial_Statements.csv')
#chevron_df = pandas.read_csv('chevron_df.csv')
#exxon_df = pandas.read_csv('exxon_df.csv')
total_df = pandas.read_csv('Finalized_Data.csv')
oil_production = pandas.read_csv('Crude_Oil_Production.csv')

In [19]:
#observe data dataframe
oil_production.head()

       Date  Field Production of Crude Oil (Thousand Barrels)
0  Jan-1920                                             34008
1  Feb-1920                                             33193
2  Mar-1920                                             36171
3  Apr-1920                                             34945
4  May-1920                                             36622

In [20]:
#create new variable to start the cleaning
#renaming columns to specify columns
oil_df = oil_production
oil_df.columns = [
    "date",
    "oil_production"
]
oil_df.head()

       date  oil_production
0  Jan-1920           34008
1  Feb-1920           33193
2  Mar-1920           36171
3  Apr-1920           34945
4  May-1920           36622

In [21]:
#checking datatype
oil_df.dtypes

date              object
oil_production     int64
dtype: object

In [55]:
#observing the specific rows to know which ones to keep
print(oil_df.date.unique())

['Jan-1920' 'Feb-1920' 'Mar-1920' ... 'Feb-2021' 'Mar-2021' 'Apr-2021']

In [56]:
#removing uneeded rows
first = 1167
last = 1218
oil_df.iloc[first:last]

          date  oil_production
1167  Apr-2017          273444
1168  May-2017          285439
1169  Jun-2017          274035
1170  Jul-2017          287239
1171  Aug-2017          287182
1172  Sep-2017          286008
1173  Oct-2017          299709
1174  Nov-2017          302637
1175  Dec-2017          309779
1176  Jan-2018          309948
1177  Feb-2018          287302
1178  Mar-2018          325146
1179  Apr-2018          314891
1180  May-2018          324159
1181  Jun-2018          318147
1182  Jul-2018          338007
1183  Aug-2018          352889
1184  Sep-2018          343901
1185  Oct-2018          358173
1186  Nov-2018          357213
1187  Dec-2018          372116
1188  Jan-2019          367815
1189  Feb-2019          327007
1190  Mar-2019          370056
1191  Apr-2019          364041
1192  May-2019          377059
1193  Jun-2019          362626
1194  Jul-2019          366392
1195  Aug-2019          385168
1196  Sep-2019          374856
1197  Oct-2019          392849
1198  Nov-2019          385793
1199  Dec-2019          396865
1200  Jan-2020          395399
1201  Feb-2020          369622
1202  Mar-2020          394849
1203  Apr-2020          360299
1204  May-2020          310582
1205  Jun-2020          313264
1206  Jul-2020          340152
1207  Aug-2020          328099
1208  Sep-2020          326114
1209  Oct-2020          323601
1210  Nov-2020          335031
1211  Dec-2020          343725
1212  Jan-2021          342731
1213  Feb-2021          273647
1214  Mar-2021          346823
1215  Apr-2021          335065

In [57]:
#making sure the proper rows have been removed
df_oil = oil_df.drop(oil_df.index[range(1166)])
df_oil.head()

          date  oil_production
1166  Mar-2017          284965
1167  Apr-2017          273444
1168  May-2017          285439
1169  Jun-2017          274035
1170  Jul-2017          287239

In [58]:
oil_bar = px.bar(data_frame=df_oil, x='date' , y='oil_production')
oil_bar.show

<bound method BaseFigure.show of Figure({
    'data': [{'alignmentgroup': 'True',
              'hovertemplate': 'date=%{x}<br>oil_production=%{y}<extra></extra>',
              'legendgroup': '',
              'marker': {'color': '#636efa', 'pattern': {'shape': ''}},
              'name': '',
              'offsetgroup': '',
              'orientation': 'v',
              'showlegend': False,
              'textposition': 'auto',
              'type': 'bar',
              'x': [Mar-2017, Apr-2017, May-2017, Jun-2017, Jul-2017, Aug-2017,
                    Sep-2017, Oct-2017, Nov-2017, Dec-2017, Jan-2018, Feb-2018,
                    Mar-2018, Apr-2018, May-2018, Jun-2018, Jul-2018, Aug-2018,
                    Sep-2018, Oct-2018, Nov-2018, Dec-2018, Jan-2019, Feb-2019,
                    Mar-2019, Apr-2019, May-2019, Jun-2019, Jul-2019, Aug-2019,
                    Sep-2019, Oct-2019, Nov-2019, Dec-2019, Jan-2020, Feb-2020,
                    Mar-2020, Apr-2020, May-2020, Jun-2020, Jul-2020, Aug-2020,
                    Sep-2020, Oct-2020, Nov-2020, Dec-2020, Jan-2021, Feb-2021,
                    Mar-2021, Apr-2021],
              'xaxis': 'x',
              'y': array([284965, 273444, 285439, 274035, 287239, 287182, 286008, 299709, 302637,
                          309779, 309948, 287302, 325146, 314891, 324159, 318147, 338007, 352889,
                          343901, 358173, 357213, 372116, 367815, 327007, 370056, 364041, 377059,
                          362626, 366392, 385168, 374856, 392849, 385793, 396865, 395399, 369622,
                          394849, 360299, 310582, 313264, 340152, 328099, 326114, 323601, 335031,
                          343725, 342731, 273647, 346823, 335065]),
              'yaxis': 'y'}],
    'layout': {'barmode': 'relative',
               'legend': {'tracegroupgap': 0},
               'margin': {'t': 60},
               'template': '...',
               'xaxis': {'anchor': 'y', 'domain': [0.0, 1.0], 'title': {'text': 'date'}},
               'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0], 'title': {'text': 'oil_production'}}}
})>

In [34]:
#observing dataframe before cleaning
chevron_statements.head()

,Year,Total Revenue,Operating Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Operating Cash Flow,Investing Cash Flow,Financing Cash flow,...,Normalized Income,Interest Expense,Net Interest Income,EBIT,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items
0,2021,95842000,95842000,72053000,23789000,30736000,-6947000,10051000,-5370000,-6167000,...,-7765000,733000,-733000,-8688000,10818000,72053000,19506000,10818000,0,0
1,2020,94471000,94471000,69996000,24475000,30572000,-6097000,10577000,-6965000,-3736000,...,-5543000,697000,-697000,-6756000,-,69996000,19508000,12752000,0,0
2,2019,139865000,139865000,109331000,30534000,30434000,100000,27314000,-11458000,-19758000,...,2924000,798000,-798000,6334000,-,109331000,29218000,35552000,0,0
3,2018,158902000,158902000,113997000,44905000,30459000,14446000,30618000,-12290000,-13699000,...,14824000,748000,-748000,21323000,-,113997000,19419000,40742000,0,0
4,2017,134674000,134674000,95114000,39560000,37080000,2480000,20515000,-8201000,-14554000,...,9195000,307000,-307000,9528000,-,95114000,19349000,28877000,0,0

In [35]:
#create new variable to start the cleaning
#renaming columns to specify columns
chevron_df = chevron_statements
chevron_df.columns = [
    "c_year" ,
    "c_total_revenue" ,
    "c_operating revenue" ,
    "c_cost_of_revenue" ,
    "c_gross_profit" ,
    "c_operating_expense" ,
    "c_operating_income" ,
    "c_operating_cash_flow" ,
    "c_investing_cash_flow" ,
    "c_financing_cash_flow" ,
    "c_end_cash_position" ,
    "c_net_non_operating_expense_income" ,
    "c_other_income_expense" ,
    "c_pretax_income" ,
    "c_tax_provision" ,
    "c_net_income" ,
    "c_diluted_ni_available_to_common_stockholder" ,
    "c_basic_eps" ,
    "c_diluted_eps" ,
    "c_basic_average_shares" ,
    "c_diluted_average_shares" ,
    "c_total_expenses" ,
    "c_normalized_income" ,
    "c_interest_expense" ,
    "c_net_interest_income" ,
    "c_ebit" ,
    "c_ebitda" ,
    "c_reconciled_cost_of_revenue" ,
    "c_reconciled_depreciation" ,
    "c_normalized_ebitda" ,
    "c_tax_rate_for_calcs" ,
    "c_tax_effect_of_unusual_items"  
]
chevron_df.head()

,c_year,c_total_revenue,c_operating revenue,c_cost_of_revenue,c_gross_profit,c_operating_expense,c_operating_income,c_operating_cash_flow,c_investing_cash_flow,c_financing_cash_flow,...,c_normalized_income,c_interest_expense,c_net_interest_income,c_ebit,c_ebitda,c_reconciled_cost_of_revenue,c_reconciled_depreciation,c_normalized_ebitda,c_tax_rate_for_calcs,c_tax_effect_of_unusual_items
0,2021,95842000,95842000,72053000,23789000,30736000,-6947000,10051000,-5370000,-6167000,...,-7765000,733000,-733000,-8688000,10818000,72053000,19506000,10818000,0,0
1,2020,94471000,94471000,69996000,24475000,30572000,-6097000,10577000,-6965000,-3736000,...,-5543000,697000,-697000,-6756000,-,69996000,19508000,12752000,0,0
2,2019,139865000,139865000,109331000,30534000,30434000,100000,27314000,-11458000,-19758000,...,2924000,798000,-798000,6334000,-,109331000,29218000,35552000,0,0
3,2018,158902000,158902000,113997000,44905000,30459000,14446000,30618000,-12290000,-13699000,...,14824000,748000,-748000,21323000,-,113997000,19419000,40742000,0,0
4,2017,134674000,134674000,95114000,39560000,37080000,2480000,20515000,-8201000,-14554000,...,9195000,307000,-307000,9528000,-,95114000,19349000,28877000,0,0

In [36]:
#determine the data types
chevron_df.dtypes

c_year                                           int64
c_total_revenue                                  int64
c_operating revenue                              int64
c_cost_of_revenue                                int64
c_gross_profit                                   int64
c_operating_expense                              int64
c_operating_income                               int64
c_operating_cash_flow                            int64
c_investing_cash_flow                            int64
c_financing_cash_flow                            int64
c_end_cash_position                              int64
c_net_non_operating_expense_income               int64
c_other_income_expense                           int64
c_pretax_income                                  int64
c_tax_provision                                  int64
c_net_income                                     int64
c_diluted_ni_available_to_common_stockholder     int64
c_basic_eps                                     object
c_diluted_eps                                   object
c_basic_average_shares                          object
c_diluted_average_shares                        object
c_total_expenses                                 int64
c_normalized_income                              int64
c_interest_expense                               int64
c_net_interest_income                            int64
c_ebit                                           int64
c_ebitda                                        object
c_reconciled_cost_of_revenue                     int64
c_reconciled_depreciation                        int64
c_normalized_ebitda                              int64
c_tax_rate_for_calcs                             int64
c_tax_effect_of_unusual_items                    int64
dtype: object

In [37]:
#see if there are missing values
chevron_df.isnull().any()

c_year                                          False
c_total_revenue                                 False
c_operating revenue                             False
c_cost_of_revenue                               False
c_gross_profit                                  False
c_operating_expense                             False
c_operating_income                              False
c_operating_cash_flow                           False
c_investing_cash_flow                           False
c_financing_cash_flow                           False
c_end_cash_position                             False
c_net_non_operating_expense_income              False
c_other_income_expense                          False
c_pretax_income                                 False
c_tax_provision                                 False
c_net_income                                    False
c_diluted_ni_available_to_common_stockholder    False
c_basic_eps                                     False
c_diluted_eps                                   False
c_basic_average_shares                          False
c_diluted_average_shares                        False
c_total_expenses                                False
c_normalized_income                             False
c_interest_expense                              False
c_net_interest_income                           False
c_ebit                                          False
c_ebitda                                        False
c_reconciled_cost_of_revenue                    False
c_reconciled_depreciation                       False
c_normalized_ebitda                             False
c_tax_rate_for_calcs                            False
c_tax_effect_of_unusual_items                   False
dtype: bool

In [38]:
#remove any columns/rows needed
#create new variable with the clean data
#observe datatype to make sure it is correct
chevron_df = chevron_df.drop(columns=["c_total_revenue" , "c_other_income_expense" , "c_operating_income" , "c_gross_profit" , "c_pretax_income" , "c_tax_provision" , "c_net_income" , "c_diluted_ni_available_to_common_stockholder" , "c_basic_eps" , "c_diluted_eps" , "c_basic_average_shares" , "c_diluted_average_shares" , "c_total_expenses" , "c_normalized_income" , "c_interest_expense" , "c_net_interest_income" , "c_ebit" , "c_ebitda" , "c_reconciled_depreciation" , "c_normalized_ebitda" , "c_tax_rate_for_calcs" , "c_tax_effect_of_unusual_items"])
chevron_df.head()

,c_year,c_operating revenue,c_cost_of_revenue,c_operating_expense,c_operating_cash_flow,c_investing_cash_flow,c_financing_cash_flow,c_end_cash_position,c_net_non_operating_expense_income,c_reconciled_cost_of_revenue
0,2021,95842000,72053000,30736000,10051000,-5370000,-6167000,8204000,-733000,72053000
1,2020,94471000,69996000,30572000,10577000,-6965000,-3736000,6737000,-697000,69996000
2,2019,139865000,109331000,30434000,27314000,-11458000,-19758000,6911000,-798000,109331000
3,2018,158902000,113997000,30459000,30618000,-12290000,-13699000,10481000,-748000,113997000
4,2017,134674000,95114000,37080000,20515000,-8201000,-14554000,4813000,-307000,95114000

In [39]:
#observing dataframe before cleaning
exxon_statements.head()

,Year,Total Revenue,Operating Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Operating Cash Flow,Investing Cash Flow,Financing Cash flow,...,Normalized Income,Interest Expense,Net Interest Income,EBIT,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items
0,2021,180992000,180992000,169915000,11077000,37128000,-26051000,17658000,-14447000,-11285000,...,-19100000,1167000,-1167000,-23866000,21328000,169915000,45194000,21328000,0,0
1,2020,178574000,178574000,170447000,8127000,37575000,-29448000,14668000,-18459000,5285000,...,-22440000,1158000,-1158000,-27725000,-,170447000,46009000,18284000,0,0
2,2019,255583000,255583000,199625000,55958000,43192000,12766000,29716000,-23084000,-6618000,...,14340000,830000,-830000,20886000,NaN,199625000,18998000,39884000,0,0
3,2018,279332000,279332000,211599000,67733000,45609000,22124000,36014000,-16446000,-19446000,...,20840000,766000,-766000,31719000,-,211599000,18745000,50464000,0,0
4,2017,237162000,237162000,182238000,54924000,42850000,12074000,30066000,-15730000,-15130000,...,19710000,601000,-601000,19275000,-,182238000,19893000,39168000,0,0

In [40]:
#create new variable to start the cleaning
#renaming columns to specify columns
exxon_df = exxon_statements
exxon_df.columns = [
    "e_year" ,
    "e_total_revenue" ,
    "e_operating revenue" ,
    "e_cost_of_revenue" ,
    "e_gross_profit" ,
    "e_operating_expense" ,
    "e_operating_income" ,
    "e_operating_cash_flow" ,
    "e_investing_cash_flow" ,
    "e_financing_cash_flow" ,
    "e_end_cash_position" ,
    "e_net_non_operating_expense_income" ,
    "e_other_income_expense" ,
    "e_pretax_income" ,
    "e_tax_provision" ,
    "e_net_income" ,
    "e_diluted_ni_available_to_common_stockholder" ,
    "e_basic_eps" ,
    "e_diluted_eps" ,
    "e_basic_average_shares" ,
    "e_diluted_average_shares" ,
    "e_total_expenses" ,
    "e_normalized_income" ,
    "e_interest_expense" ,
    "e_net_interest_income" ,
    "e_ebit" ,
    "e_ebitda" ,
    "e_reconciled_cost_of_revenue" ,
    "e_reconciled_depreciation" ,
    "e_normalized_ebitda" ,
    "e_tax_rate_for_calcs" ,
    "e_tax_effect_of_unusual_items"  
]
exxon_df.head()

,e_year,e_total_revenue,e_operating revenue,e_cost_of_revenue,e_gross_profit,e_operating_expense,e_operating_income,e_operating_cash_flow,e_investing_cash_flow,e_financing_cash_flow,...,e_normalized_income,e_interest_expense,e_net_interest_income,e_ebit,e_ebitda,e_reconciled_cost_of_revenue,e_reconciled_depreciation,e_normalized_ebitda,e_tax_rate_for_calcs,e_tax_effect_of_unusual_items
0,2021,180992000,180992000,169915000,11077000,37128000,-26051000,17658000,-14447000,-11285000,...,-19100000,1167000,-1167000,-23866000,21328000,169915000,45194000,21328000,0,0
1,2020,178574000,178574000,170447000,8127000,37575000,-29448000,14668000,-18459000,5285000,...,-22440000,1158000,-1158000,-27725000,-,170447000,46009000,18284000,0,0
2,2019,255583000,255583000,199625000,55958000,43192000,12766000,29716000,-23084000,-6618000,...,14340000,830000,-830000,20886000,NaN,199625000,18998000,39884000,0,0
3,2018,279332000,279332000,211599000,67733000,45609000,22124000,36014000,-16446000,-19446000,...,20840000,766000,-766000,31719000,-,211599000,18745000,50464000,0,0
4,2017,237162000,237162000,182238000,54924000,42850000,12074000,30066000,-15730000,-15130000,...,19710000,601000,-601000,19275000,-,182238000,19893000,39168000,0,0

In [41]:
#determine the data types
exxon_df.dtypes

e_year                                           int64
e_total_revenue                                  int64
e_operating revenue                              int64
e_cost_of_revenue                                int64
e_gross_profit                                   int64
e_operating_expense                              int64
e_operating_income                               int64
e_operating_cash_flow                            int64
e_investing_cash_flow                            int64
e_financing_cash_flow                            int64
e_end_cash_position                              int64
e_net_non_operating_expense_income               int64
e_other_income_expense                           int64
e_pretax_income                                  int64
e_tax_provision                                  int64
e_net_income                                     int64
e_diluted_ni_available_to_common_stockholder     int64
e_basic_eps                                     object
e_diluted_eps                                   object
e_basic_average_shares                          object
e_diluted_average_shares                        object
e_total_expenses                                 int64
e_normalized_income                              int64
e_interest_expense                               int64
e_net_interest_income                            int64
e_ebit                                           int64
e_ebitda                                        object
e_reconciled_cost_of_revenue                     int64
e_reconciled_depreciation                        int64
e_normalized_ebitda                              int64
e_tax_rate_for_calcs                             int64
e_tax_effect_of_unusual_items                    int64
dtype: object

In [42]:
#see if there are missing values
exxon_df.isnull().any()

e_year                                          False
e_total_revenue                                 False
e_operating revenue                             False
e_cost_of_revenue                               False
e_gross_profit                                  False
e_operating_expense                             False
e_operating_income                              False
e_operating_cash_flow                           False
e_investing_cash_flow                           False
e_financing_cash_flow                           False
e_end_cash_position                             False
e_net_non_operating_expense_income              False
e_other_income_expense                          False
e_pretax_income                                 False
e_tax_provision                                 False
e_net_income                                    False
e_diluted_ni_available_to_common_stockholder    False
e_basic_eps                                     False
e_diluted_eps                                   False
e_basic_average_shares                          False
e_diluted_average_shares                        False
e_total_expenses                                False
e_normalized_income                             False
e_interest_expense                              False
e_net_interest_income                           False
e_ebit                                          False
e_ebitda                                         True
e_reconciled_cost_of_revenue                    False
e_reconciled_depreciation                       False
e_normalized_ebitda                             False
e_tax_rate_for_calcs                            False
e_tax_effect_of_unusual_items                   False
dtype: bool

In [43]:
#remove any columns/rows needed
#create new variable with the clean data
#observe datatype to make sure it is correct
exxon_df = exxon_df.drop(columns=["e_total_revenue" , "e_other_income_expense" , "e_operating_income" , "e_gross_profit" , "e_pretax_income" , "e_tax_provision" , "e_net_income" , "e_diluted_ni_available_to_common_stockholder" , "e_basic_eps" , "e_diluted_eps" , "e_basic_average_shares" , "e_diluted_average_shares" , "e_total_expenses" , "e_normalized_income" , "e_interest_expense" , "e_net_interest_income" , "e_ebit" , "e_ebitda" , "e_reconciled_depreciation" , "e_normalized_ebitda" , "e_tax_rate_for_calcs" , "e_tax_effect_of_unusual_items"])
exxon_df.head()

,e_year,e_operating revenue,e_cost_of_revenue,e_operating_expense,e_operating_cash_flow,e_investing_cash_flow,e_financing_cash_flow,e_end_cash_position,e_net_non_operating_expense_income,e_reconciled_cost_of_revenue
0,2021,180992000,169915000,37128000,17658000,-14447000,-11285000,3338000,-1167000,169915000
1,2020,178574000,170447000,37575000,14668000,-18459000,5285000,4364000,-1158000,170447000
2,2019,255583000,199625000,43192000,29716000,-23084000,-6618000,3089000,-830000,199625000
3,2018,279332000,211599000,45609000,36014000,-16446000,-19446000,3042000,-766000,211599000
4,2017,237162000,182238000,42850000,30066000,-15730000,-15130000,3177000,-601000,182238000