In [8]:
import pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp
import plotly.express as px
import plotly.io as pio
import requests
import statistics

from matplotlib import pyplot as plt

In [20]:
Chevron = pandas.read_csv('Chevron-Financial-Statements-.csv')
Exxon = pandas.read_csv('Exxon_Financial_Statements.csv')
CF = pandas.read_csv('Chevron_Finalized.csv')
EF = pandas.read_csv('Exxon_Finalized.csv')
FD = pandas.read_csv('Finalized_Data.csv')
COP = pandas.read_csv('Crude_Oil_Production.csv')

In [16]:
#making sure variables work
print(Chevron.head())

           Breakdown         TTM    12/31/20     12/31/19     12/31/18  \
0      Total Revenue  95,842,000  94,471,000  139,865,000  158,902,000
1  Operating Revenue  95,842,000  94,471,000  139,865,000  158,902,000
2    Cost of Revenue  72,053,000  69,996,000  109,331,000  113,997,000
3       Gross Profit  23,789,000  24,475,000   30,534,000   44,905,000
4  Operating Expense  30,736,000  30,572,000   30,434,000   30,459,000

      12/31/17
0  134,674,000
1  134,674,000
2   95,114,000
3   39,560,000
4   37,080,000

In [14]:
#making sure variables work
print(Exxon.head())

           Breakdown          TTM     12/31/20     12/31/19     12/31/18  \
0      Total Revenue  180,992,000  178,574,000  255,583,000  279,332,000
1  Operating Revenue  180,992,000  178,574,000  255,583,000  279,332,000
2    Cost of Revenue  169,915,000  170,447,000  199,625,000  211,599,000
3       Gross Profit   11,077,000    8,127,000   55,958,000   67,733,000
4  Operating Expense   37,128,000   37,575,000   43,192,000   45,609,000

      12/31/17
0  237,162,000
1  237,162,000
2  182,238,000
3   54,924,000
4   42,850,000

In [18]:
#making sure variables work
print(CF.head())

           Breakdown          TTM     12/31/20     12/31/19     12/31/18  \
0  Operating Expense   30,736,000   30,572,000   30,434,000   30,459,000
1    Cost of Revenue   72,053,000   69,996,000  109,331,000  113,997,000
2     Total Expenses  102,789,000  100,568,000  139,765,000  144,456,000

      12/31/17
0   37,080,000
1   95,114,000
2  132,194,000

In [19]:
#making sure variables work
print(EF.head())

           Breakdown          TTM     12/31/20     12/31/19     12/31/18  \
0  Operating Expense   37,128,000   37,575,000   43,192,000   45,609,000
1    Cost of Revenue  169,915,000  170,447,000  199,625,000  211,599,000
2     Total Expenses  207,043,000  208,022,000  242,817,000  257,208,000

      12/31/17
0   42,850,000
1  182,238,000
2  225,088,000

In [23]:
#making sure variables work
print(FD.head())

             CHEVRON         TTM    12/31/20     12/31/19     12/31/18  \
0      Total Revenue  95,842,000  94,471,000  139,865,000  158,902,000
1  Operating Revenue  95,842,000  94,471,000  139,865,000  158,902,000
2    Cost of Revenue  72,053,000  69,996,000  109,331,000  113,997,000
3       Gross Profit  23,789,000  24,475,000   30,534,000   44,905,000
4  Operating Expense  30,736,000  30,572,000   30,434,000   30,459,000

      12/31/17
0  134,674,000
1  134,674,000
2   95,114,000
3   39,560,000
4   37,080,000

In [24]:
#making sure variables work
print(COP.head())

       Date  Field Production of Crude Oil (Thousand Barrels)
0  Jan-1920                                             34008
1  Feb-1920                                             33193
2  Mar-1920                                             36171
3  Apr-1920                                             34945
4  May-1920                                             36622

In [25]:
COP.head()

       Date  Field Production of Crude Oil (Thousand Barrels)
0  Jan-1920                                             34008
1  Feb-1920                                             33193
2  Mar-1920                                             36171
3  Apr-1920                                             34945
4  May-1920                                             36622